/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gray-150 {
    background-color: #f3f4f6;
    background-image: linear-gradient(to bottom, rgba(243, 244, 246, 0.5), rgba(229, 231, 235, 0.5));
}

.hidden {
    display: none;
}

#sugestoes {
    margin-top: -3px;
    max-height: 120px;
    overflow-y: auto;
}

#sugestoes li {
    margin-bottom: 5px;
    /*border-bottom: 1px solid #ddd;*/
}